@import "tailwindcss";


@theme {
  --color-background: #0a0a0a;
  --color-surface: #111111;
  --color-text: #e0e0e0;
  --color-text-secondary: #a0a0a0;
  --color-accent: #10b981;
  --color-accent-hover: #059669;
  --color-border: #2d2d2d;
}

@layer base {
  html, body, :host {
    @apply bg-[--color-background] text-[--color-text] min-h-screen;
  }
}